/* section{
    display: grid !important;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
}


// Layout 1 : Titre2 > image  
section  h2:has(+ p > img) { 
    grid-column: 1 / 11;
    grid-row: 1/2;
    margin: 0px !important;
    padding: 0px !important;

}
section h2 +  p   {
    grid-column: 1 / 11;
    grid-row: 2/11;
    background-color: antiquewhite;
    margin: 0px !important;
    padding: 0px !important;
}

Layout 2 : Titre 2 , Paragraphe ,  Image 

section p:has(+ p > img) { 
    float: left;
    position: relative;
    left: 4%;
    width: 45%;
    text-align: justify;
}
section p +  p > img  {
    float: right;
    position: relative;
    right: 4%;
    width: 45%;
}


 Layout 2 : Titre, Lite,Image 

section  ul:has(+ p > img) {
    width: 50%;
    height: 50%;
    margin: 11px;
    background-color: lightblue;
}

section ul +  p  {
    width: 50%;
    width: 50%;
    margin: 11px;
    background-color: lightblue;
}

 */






/* section ul + p img {
    float: right;
    border: 1px solid red;
} */


.min_titre{
    font-size: 30px !important;
}

/* Ne pas afficher les noms des figures */
img + em {
    display:none;
}


section{
    top:0px !important
}


/* h1 {
    background-color: #00838F;
    color: #fff !important;
    padding: 40px;
    font-size: 1.0em !important;
    padding: 10px; 
} */

/* h2 {
    background-color: #00838F;
    color: #fff !important;
    padding: 40px;
    position: absolute;
    top: -20px;
    font-size: 0.8em !important;
    background-color: #00838F;
    color: #fff !important;
    width: 100vw; 
    margin-left: -170px !important;
    margin-top: 0;
    text-align: start;
} */



/* 
img[alt="SOLICODE"] {
    position: absolute;
    top: -140px;
    left: -220px;
    width: 40vw;
    height: 40vh;
}

img[alt="OFPPT"] {
    position: absolute;
    top: -140px;
    right: -220px;
    width: 40vw;
    height: 40vh;
}


img[alt="CNMH"] {
    width: 30vw;
    height: 40vh;
    margin-left: 30%;
    margin-top: -220px;
} */

/* section p{
    text-align: start;
    font-size: 20px;
    margin-top: 180px !important;
}  */